.app-settings {
    display: flex;
    flex-direction: column;
    padding: .2rem .4rem;
    gap: .4rem;
    min-height: 100%;
}

h3 {
    text-align: center;
}

.app-settings > div {
    padding: 0 .8rem;
    display: flex;
    align-items: center;
    gap: .6rem;
}

.settings-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.submit-row {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 1rem;
}

    .submit-row > div > input {
        min-width: 50px;
    }

button {
    min-width: 150px;
}

.save-button {
    min-height: 2rem;
    padding-top: .4rem;
}

.cookie-text {
    margin-bottom: .2rem;
}

.cookie-consent {
    display: flex;
}