<div class="help-container">
	<h3>Welcome to my playground</h3>
	<p>You can open a new window or folder by double click an icon on the desktop.</p>
	<p>The windows can be resized by select the right or bottom side of the window and then drag window to preffered size.</p>
	<p>To move a window, left click and hold the window top bar and drag the window around.</p>
	<p>This playground is made in entierly in <a href="https://en.wikipedia.org/wiki/Blazor" target="_blank">Blazor</a>.</p>
	<p><strong>This is a playground is made for desktops. Quality on phone/tablet devices are poor.</strong></p>
</div>
