<div class="help-container">
	<h3>Welcome to my blazor playground</h3>
	<p><strong>This playground is made for desktops. Quality on phone/tablet devices are limited.</strong></p>
	<p>You can open a new window or folder by double click on an icon.</p>
	<p>The windows can be resized or moved around</p>
	<p>To move a window, left click and hold the blue top bar and drag the window around.</p>
	<p>
		This playground is made in entierly in <a href="https://en.wikipedia.org/wiki/Blazor" target="_blank">Blazor</a> and html,
		no canvas is used to render the elements. 
	</p>
	<p>Close this window by clicking the X in the top bar and try out the demo</p>
</div>
