<div style="display: flex; flex-direction: row; gap: 1.2rem; flex-wrap: wrap; padding: .8rem;">
	@ChildContent
</div>

@code {
	[Parameter]
	[EditorRequired]
	public RenderFragment ChildContent { get; set; } = null!;
}
