/* /Components/Common/AppSettings.razor.rz.scp.css */
.app-settings[b-2cnznc2b1p] {
    display: flex;
    flex-direction: column;
    padding: .2rem .4rem;
    gap: .4rem;
    min-height: 100%;
}

h3[b-2cnznc2b1p] {
    text-align: center;
}

.app-settings > div[b-2cnznc2b1p] {
    padding: 0 .8rem;
    display: flex;
    align-items: center;
    gap: .6rem;
}

.settings-row[b-2cnznc2b1p] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.submit-row[b-2cnznc2b1p] {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 1rem;
}

    .submit-row > div > input[b-2cnznc2b1p] {
        min-width: 50px;
    }

button[b-2cnznc2b1p] {
    min-width: 150px;
}

.save-button[b-2cnznc2b1p] {
    min-height: 2rem;
    padding-top: .4rem;
}

.cookie-text[b-2cnznc2b1p] {
    margin-bottom: .2rem;
}

.cookie-consent[b-2cnznc2b1p] {
    display: flex;
}
/* /Components/Common/Clock.razor.rz.scp.css */
.clock[b-r159oljx7e] {
  font-weight: 700;
}
/* /Components/Common/Help.razor.rz.scp.css */
.help-container[b-hutjpaedeq] {
    padding: .2rem .6rem;
}
/* /Components/CW/AboutMe.razor.rz.scp.css */
.content[b-lg8gnj341t] {
    padding: 0.3rem 0.6rem;
    text-align: center;
}

.profile-picture[b-lg8gnj341t] {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 20%;
    border: 3px solid black;
    background-color: black;
}
/* /Components/CW/CwItem.razor.rz.scp.css */
.cw-container[b-8e03easax1] {
    padding: 1rem .6rem;
    border-bottom: 1px solid grey;
}

.titles[b-8e03easax1] {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.6rem 1rem;
}

.titles > h3[b-8e03easax1] {
    margin-block-end: 0.2rem;
    margin-top: 0;
}

.content[b-8e03easax1] {
    padding: 0 .4rem;
}

h4[b-8e03easax1] {
    margin-block-start: .8rem;
}
/* /Components/Fun/SpinningCubes.razor.rz.scp.css */
.color-picker[b-4i99j529yi] {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
}

.color-picker-color[b-4i99j529yi] {
    width: 30px;
    height: 30px;
    border: 5px solid black;
    border-radius: 6px;
    cursor: pointer;
}
/* /Components/Metorids/Enemy.razor.rz.scp.css */
.enemy[b-abp85s01on] {
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
}
/* /Components/Metorids/Hud.razor.rz.scp.css */
.hud[b-ccaosds3kx] {
    position: absolute;
    top: 20px;
    left: 10px;
    color: red;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid goldenrod;
    background-color: goldenrod;
    z-index: 10;
}

.total-life[b-ccaosds3kx] {
    height: 100%;
    width: 100%;
    background-color: darkred;
    border-radius: 10px;
}

.life[b-ccaosds3kx] {
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: darkgreen;
}

.score[b-ccaosds3kx] {
    position: absolute;
    top: 0px;
    right: 20px;
    color: white;
    font-size: 30px;
}
/* /Components/Metorids/Item.razor.rz.scp.css */
.item[b-24yahum6fe] {
    position: absolute;
    border-radius: 50%;
}

.head[b-24yahum6fe] {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 10px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid gray;
}

.body[b-24yahum6fe] {
    position: absolute;
    width: 10px;
    height: 15px;
    top: 7px;
    left: 10px;
    border-radius: 5px;
    background-color: white;
}

.right-arm[b-24yahum6fe] {
    position: absolute;
    width: 12px;
    height: 4px;
    top: 8px;
    left: 17px;
    transform: rotate(151deg);
    background-color: white;
    border-radius: 10px;
}

.right-leg[b-24yahum6fe] {
    position: absolute;
    width: 12px;
    height: 4px;
    top: 20px;
    left: 14px;
    transform: rotate(41deg);
    background-color: white;
    border-radius: 10px;
}

.left-arm[b-24yahum6fe] {
    position: absolute;
    width: 12px;
    height: 4px;
    top: 8px;
    left: 1px;
    transform: rotate(20deg);
    background-color: white;
    border-radius: 10px;
}

.left-leg[b-24yahum6fe] {
    position: absolute;
    width: 12px;
    height: 4px;
    top: 20px;
    left: 5px;
    transform: rotate(134deg);
    background-color: white;
    border-radius: 10px;
}
/* /Components/Metorids/Metroids.razor.rz.scp.css */
.background[b-07nsi962x8] {
    width: 100%;
    height: 100%;
    background: var(--var-window-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.camera[b-07nsi962x8] {
    background-color: black;
    width: 790px;
    height: 590px;
    position: relative;
    overflow: hidden;
}

.paused[b-07nsi962x8] {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
}

.paused-content[b-07nsi962x8] {
    background-color: white;
    color: darkmagenta;
    text-align: center;
}

.input-box[b-07nsi962x8] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10000;
}
/* /Components/Metorids/Particle.razor.rz.scp.css */
.cloud[b-2rgqzu6mpi] {
    background-color: lightsalmon;
    border-radius: 50%;
    opacity: 40%;
}
/* /Components/Metorids/Ship.razor.rz.scp.css */
.ship[b-m8wfdporyn] {
    background-color: red;
    position: absolute;
    border-radius: 50%;
}
/* /Components/Sweeper/Settings.razor.rz.scp.css */
.settings[b-9pfv58i7ry] {
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

h3[b-9pfv58i7ry] {
    text-align: center;
    margin-bottom: .8rem;
}

button[b-9pfv58i7ry] {
    width: 100%;
    height: 2rem;
}
/* /Components/Sweeper/Sweeper.razor.rz.scp.css */
.board[b-iujyeoduo1] {
    background-color: black;
    color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.row[b-iujyeoduo1] {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 10px;
}
/* /Components/Sweeper/SweeperMenu.razor.rz.scp.css */
.menu[b-dw1ksaqvhk] {
    position: relative;
    background-color: gray;
    height: 60px;
    min-height: 55px;
    width: 100%;
    border: 1px solid black;
    z-index: 10;
    overflow: hidden;
}

.edge-menu[b-dw1ksaqvhk] {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
}

.edge-menu > i:hover[b-dw1ksaqvhk] {
    cursor: pointer;
}

.btn-container[b-dw1ksaqvhk] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.start-btn[b-dw1ksaqvhk] {
    position: absolute;
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
    padding: 10px;
    -webkit-box-shadow: 3px 1px 8px 3px #454547;
    box-shadow: 3px 1px 8px 3px #454547;
}

.start-btn:hover[b-dw1ksaqvhk] {
    background-color: dimgrey;
}

.smiley[b-dw1ksaqvhk] {
    width: 100%;
    background-color: yellow;
    border-radius: 50%;
    height: 100%;
    position: relative;
}

.eye[b-dw1ksaqvhk] {
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
}

.left-eye[b-dw1ksaqvhk] {
    top: 5px;
    left: 5px;
}

.right-eye[b-dw1ksaqvhk] {
    top: 5px;
    right: 5px;
}

.mouth[b-dw1ksaqvhk] {
    position: absolute;
    width: 80%;
    height: 15px;
    border-radius: 40%;
    bottom: 7px;
    left: 3px;
}

.glad-mouth[b-dw1ksaqvhk] {
    border-bottom: 2px solid black;
}

.sad-mouth[b-dw1ksaqvhk] {
    border-top: 2px solid black;
    top: 15px;
}

.time[b-dw1ksaqvhk] {
    background-color: black;
    color: darkred;
    padding: 6px 20px;
    border: 2px solid darkred;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
}
/* /Components/Sweeper/SweeperVictoryScreen.razor.rz.scp.css */
.victory-screen[b-asbu3azf9j] {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-text[b-asbu3azf9j] {
    background-color: white;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 4px 20px;
    -webkit-box-shadow: 6px 2px 15px 4px #454547;
    box-shadow: 6px 2px 15px 4px #454547;
}
/* /Components/Sweeper/Tile.razor.rz.scp.css */
.tile[b-8fds6u10au] {
    background-color: lightgray;
    border: 1px solid gray;
    flex-grow: 1;
    flex-basis: 15px;
    border-radius: 2px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 20px;
    min-width: 15px;
}

    .tile:hover[b-8fds6u10au] {
        background-color: #6c6969
    }

.visible[b-8fds6u10au] {
    background-color: darkgray;
}
/* /Components/Windows/IconLink.razor.rz.scp.css */
.icon-link[b-d5cq4f9gw4] {
    width: 50px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .2rem;
    color: var(--var-icon-color);
}

p[b-d5cq4f9gw4] {
    margin: 0.2rem 0;
}
/* /Components/Windows/Window.razor.rz.scp.css */
div[b-7s88eiu98j] {
    --window-bar-height: 30px;
    --window-resize-z-index: 100000;
    --window-button-z-index: 100001;
}

.window[b-7s88eiu98j] {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--var-window-color);
    border: 3px solid var(--var-window-color);
    min-width: 200px;
}

.window-bar[b-7s88eiu98j] {
    width: 100%;
    height: var(--window-bar-height);
    background-color: var(--var-window-color);
    display: flex;
    align-items: center;
}

    .window-bar > span[b-7s88eiu98j] {
        color: var(--var-window-font-color);
        padding-left: .6rem;
    }

.window-drag-bar[b-7s88eiu98j] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--window-bar-height);
    z-index: var(--window-resize-z-index);
}

.window-drag-bar:hover[b-7s88eiu98j]
{
    cursor: grab;
}

.window-icons[b-7s88eiu98j] {
    position: absolute;
    top: 5px;
    right: 4px;
    color: gray;
    cursor: pointer;
    z-index: var(--window-button-z-index);
}

.window-icons > i[b-7s88eiu98j] {
    margin-left: .6rem;
}

.window-content[b-7s88eiu98j] {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--var-window-content-color);
}

.window-resize[b-7s88eiu98j] {
    position: absolute;
    bottom: -4px;
    right: -4px;
    width: 10px;
    height: 10px;
    cursor: nw-resize;
    z-index: var(--window-resize-z-index);
}

.window-resize-x[b-7s88eiu98j] {
    position: absolute;
    top: 0;
    right: -4px;
    width: 10px;
    height: 100%;
    cursor: e-resize;
    z-index: var(--window-resize-z-index);
}

.window-resize-x-min[b-7s88eiu98j] {
    position: absolute;
    top: 0;
    left: -4px;
    width: 10px;
    height: 100%;
    cursor: e-resize;
    z-index: var(--window-resize-z-index);
}


.window-resize-y[b-7s88eiu98j] {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 10px;
    cursor: n-resize;
    z-index: var(--window-resize-z-index);
}

.window-resize-y-min[b-7s88eiu98j] {
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 10px;
    cursor: n-resize;
    z-index: var(--window-resize-z-index);
}
/* /Shared/Toolbar.razor.rz.scp.css */
.toolbar[b-5rm6itjm6a] {
    position: fixed;
    bottom: 0;
    left: 0;
    
    width: 100%;
    height: 52px;
    padding: .2rem .8rem;

    background-color: var(--var-toolbar-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.windows[b-5rm6itjm6a] {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
