.board {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 10px;
}