<div class="board" @key=@($"itteration-{iteration}")>
	<SweeperMenu OnNewClick="SetupGame" IsGameOver="gameOver" />
	@for (int y = 0; y < sizeY; y++)
	{
		<div class="row">
			@for (int x = 0; x < sizeX; x++)
			{
				int currentX = x;
				int currentY = y;
				<Tile Related="tiles[y,x]" 
					Visible="visible[y,x]"
					Disabled="gameOver"
					OnClick="() => { OpenTile(currentY, currentX); }"
					/>
			}
		</div>
	}
</div>

@code {
	private int sizeX = 10;
	private int sizeY = 10;
	private int[,] tiles = null!;
	private bool[,] visible = null!;

	private int avaialbeTrash = 10;
	private bool gameOver = false;
	int iteration = 0;
	const int TRASH = -1;
	Random random = new Random(DateTime.UtcNow.Millisecond * DateTime.UtcNow.Second);

	protected override void OnInitialized() => SetupGame();

	void SetupGame()
	{
		iteration++;
		gameOver = false;
		ResetGrids();
		RandomizeBoard();
		SetBoardValues();
	}

	void RandomizeBoard()
	{
		int placed = 0;
		do
		{
			int x = random.Next(0, sizeX);
			int y = random.Next(0, sizeY);
			if (tiles[y,x] == 0)
			{
				tiles[y, x] = TRASH;
				placed++;
			}
		} while (placed < avaialbeTrash);
	}

	void ResetGrids()
	{
		tiles = new int[sizeY, sizeX];
		visible = new bool[sizeY, sizeX];
	}

	void SetBoardValues()
	{
		for (int y = 0; y < sizeY; y++)
			for (int x = 0; x < sizeX; x++)
				if (tiles[y ,x] != TRASH)
					tiles[y, x] = GetNearbyTrash(y, x);
	}

	int GetNearbyTrash(int y, int x)
	{
		int count = 0;
		for (int sY = y - 1; sY <= y + 1; sY++)
			for (int sX = x - 1; sX <= x + 1; sX++)
				if (isValidTile(sY, sX) && tiles[sY, sX] == TRASH)
					count++;

		return count;

		bool isValidTile(int cY, int cX) => IsInsideBoardX(cX) && IsInsideBoardY(cY) && isNotTarget(cY, cX);
		bool isNotTarget(int cY, int cX) => cY != y || cX != x;
	}

	void OpenTile(int y, int x)
	{
		visible[y, x] = true;
		if (tiles[y, x] == 0)
			OpenRelatedTiles(y, x);
		else if (tiles[y, x] == TRASH)
			gameOver = true;
	}

	bool IsInsideBoardY(int cY) => cY >= 0 && cY < sizeY;
	bool IsInsideBoardX(int cX) => cX >= 0 && cX < sizeX;

	void OpenRelatedTiles(int y, int x)
	{
		for (int sY = y - 1; sY <= y + 1; sY++)
			for (int sX = x - 1; sX <= x + 1; sX++)
				if (IsInsideBoardX(sX) && IsInsideBoardY(sY) && !visible[sY, sX])
				{
					var value = tiles[sY, sX];
					if (value != TRASH)
						visible[sY, sX] = true;
					if (value == 0)
						OpenRelatedTiles(sY, sX);
				}
	}
}
