<div class="menu">
	<p>1</p>
	<div class="start-btn" @onclick="OnNewClick">
		<div class="smiley">
			<div class="eye left-eye"></div>
			<div class="eye right-eye"></div>
			<div class="mouth @(IsGameOver ? "sad-mouth" : "glad-mouth")"></div>
		</div>
	</div>
	<p>1</p>
</div>

@code {
	[Parameter]
	public EventCallback OnNewClick { get; set; }

	[Parameter]
	public bool IsGameOver { get; set; }
}
