.tile {
    background-color: lightgray;
    border: 1px solid gray;
    flex-grow: 1;
    flex-basis: 15px;
    border-radius: 2px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 15px;
    min-width: 15px;
}

    .tile:hover {
        background-color: #6c6969
    }

.visible {
    background-color: darkgray;
}