.hud {
    position: absolute;
    top: 20px;
    left: 10px;
    color: red;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid goldenrod;
    background-color: goldenrod;
    z-index: 10;
}

.total-life {
    height: 100%;
    width: 100%;
    background-color: darkred;
    border-radius: 10px;
}

.life {
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: darkgreen;
}