/*Based on https://3dtransforms.desandro.com/cube */

.loading-area {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-area-frame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading {
    --cube-width: 50px;
    --cube-translate: 25px;
    width: var(--cube-width);
    height: var(--cube-width);
    perspective: 600px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: -200px;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.cube-surface {
    position: absolute;
    width: var(--cube-width);
    height: var(--cube-width);
}

.cube-front {
    transform: rotateY(0deg) translateZ(var(--cube-translate));
    background: rgba(0,255,0,.5);
}

.cube-right {
    transform: rotateY( 90deg) translateZ(var(--cube-translate));
    background: rgba(255,0,0,.5);
}

.cube-back {
    transform: rotateY(180deg) translateZ(var(--cube-translate));
    background: rgba(0,0,255,.5);
}

.cube-left {
    transform: rotateY(-90deg) translateZ(var(--cube-translate));
    background: rgba(255,255,0,.5);
}

.cube-top {
    transform: rotateX(90deg) translateZ(var(--cube-translate));
    background: rgba(0,255,255,.5);
}

.cube-bottom {
    transform: rotateX(-90deg) translateZ(var(--cube-translate));
    background: rgba(255,0,0,.5);
}

#cube-1 {
    animation: 5s spin infinite;
    transform: translateY(-150px);
}

#cube-2 {
    animation: 5s spin infinite;
    animation-delay: .5s;
    transform: translateY(-150px);
}

#cube-3 {
    animation: 5s spin infinite;
    animation-delay: 1s;
    transform: translateY(-150px);
}

@keyframes spin {
    0% {
        transform: rotateX(0) rotateY(0) translateY(-150px);
    }

    20% {
        transform: rotateX(90deg);
    }

    40% {
        transform: rotateX(180deg) rotateY(90deg);
    }

    60% {
        transform: rotateX(270deg) translateY(0);
    }

    80% {
        transform: rotateX(0) rotateY(180deg);
        /*opacity: 0;*/
    }

    100% {
        transform: rotateX(0) rotateY(0) translateY(-150px);
        /*opacity: 1;*/
    }
}