/* /Components/Common/Clock.razor.rz.scp.css */
.clock[b-r159oljx7e] {
  font-weight: 700;
}
/* /Components/Common/Help.razor.rz.scp.css */
.help-container[b-hutjpaedeq] {
    padding: .2rem .6rem;
}
/* /Components/CW/AboutMe.razor.rz.scp.css */
.content[b-lg8gnj341t] {
    padding: 0.3rem 0.6rem;
    text-align: center;
}

.profile-picture[b-lg8gnj341t] {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 20%;
    border: 3px solid black;
    background-color: black;
}
/* /Components/CW/CwItem.razor.rz.scp.css */
.cw-container[b-8e03easax1] {
    padding: .2rem .6rem;
    border-bottom: 1px solid grey;
}

.titles[b-8e03easax1] {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titles > h3[b-8e03easax1] {
    margin-block-end: 0.2rem;
}

.content[b-8e03easax1] {
    padding: 0 .4rem;
}

h4[b-8e03easax1] {
    margin-block-start: .8rem;
}
/* /Components/Fun/SpinningCubes.razor.rz.scp.css */
.color-picker[b-4i99j529yi] {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
}

.color-picker-color[b-4i99j529yi] {
    width: 30px;
    height: 30px;
    border: 5px solid black;
    border-radius: 6px;
    cursor: pointer;
}
/* /Components/Windows/IconLink.razor.rz.scp.css */
.icon-link[b-d5cq4f9gw4] {
    width: 50px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .2rem;
}

p[b-d5cq4f9gw4] {
    margin: 0.2rem 0;
}
/* /Components/Windows/Window.razor.rz.scp.css */
div[b-7s88eiu98j] {
    --window-bar-height: 30px;
    --window-resize-z-index: 100000;
    --window-button-z-index: 100001;
}

.window[b-7s88eiu98j] {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: darkblue;
    border: 3px solid darkblue;
    min-width: 200px;
}

.window-bar[b-7s88eiu98j] {
    width: 100%;
    height: var(--window-bar-height);
    background-color: darkblue;
    display: flex;
    align-items: center;
}

    .window-bar > span[b-7s88eiu98j] {
        color: #fffaf0;
        padding-left: .6rem;
    }

.window-drag-bar[b-7s88eiu98j] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--window-bar-height);
    z-index: var(--window-resize-z-index);
}

.window-drag-bar:hover[b-7s88eiu98j]
{
    cursor: grab;
}

.window-icons[b-7s88eiu98j] {
    position: absolute;
    top: 5px;
    right: 4px;
    color: gray;
    cursor: pointer;
    z-index: var(--window-button-z-index);
}

.window-icons > i[b-7s88eiu98j] {
    margin-left: 4px;
}

.window-content[b-7s88eiu98j] {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
}

.window-resize[b-7s88eiu98j] {
    position: absolute;
    bottom: -4px;
    right: -4px;
    width: 10px;
    height: 10px;
    cursor: nw-resize;
    z-index: var(--window-resize-z-index);
}

.window-resize-x[b-7s88eiu98j] {
    position: absolute;
    top: 0;
    right: -4px;
    width: 10px;
    height: 100%;
    cursor: e-resize;
    z-index: var(--window-resize-z-index);
}

.window-resize-x-min[b-7s88eiu98j] {
    position: absolute;
    top: 0;
    left: -4px;
    width: 10px;
    height: 100%;
    cursor: e-resize;
    z-index: var(--window-resize-z-index);
}


.window-resize-y[b-7s88eiu98j] {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 10px;
    cursor: n-resize;
    z-index: var(--window-resize-z-index);
}

.window-resize-y-min[b-7s88eiu98j] {
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 10px;
    cursor: n-resize;
    z-index: var(--window-resize-z-index);
}
/* /Shared/Toolbar.razor.rz.scp.css */
.toolbar[b-5rm6itjm6a] {
    position: fixed;
    bottom: 0;
    left: 0;
    
    width: 100%;
    height: 52px;
    padding: .2rem .8rem;

    background-color: lightgray;
    background: lightgray;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.windows[b-5rm6itjm6a] {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
