<div class="content">
	<h4>Hi, I'm Arvid. Nice to "meet" you :)</h4>
	<p>I'm a developer from Sweden who loves building software. Since the release of .NET 5 I like to try out new things in Blazor.</p>
	<p>When I don't code I like to do indoor climbing or have a cup of tea/beer with my friends.</p>
	<img class="profile-picture" alt="profile-picure" src="/images/arvid.jpg" />
</div>

@code {

}
