<CwItem DateText="2017 - 2019" 
		Position="Higher Vocational Education Diploma" 
		Workplace="Nackademin">
		<p>
			Education "Programutvecklare .NET". Two years of school focusing on .NET technologies and JavaScript.
			The education conatined three months of internships.
		</p>
</CwItem> 
<CwItem DateText="2015 - 2017" 
		Position="Masters degree in Economics" 
		Workplace="Uppsala University">
		<p>
			Thesis: The Coalition Effect on Policy Outcomes - A Study on Close Elections in Swedish Municipalities.	

		</p>
</CwItem>
<CwItem DateText="2014 - 2015" 
		Position="Bachelor degree in Economics" 
		Workplace="Karlstads University">
		<p>
			Thesis: "Patientupplevd vårdnytta: Påverkar primärvårdens nettokostnader befolkningens självskattade vårdbehov.".	

		</p>
</CwItem>
<CwItem DateText="2010-2013" 
		Position="Bachelor degree in Accounting" 
		Workplace="Karlstads University">
		<p>
			Thesis: "Icke-revisionstjänster inom svenska revisionsbranschen: I ägarnas intresse?", co-written with Mattias Arnander.	
		</p>
</CwItem>
